#main-section {
  background-color: #1c1c1c;
}

#buys-section {
  background-color: #0082f9;
}

.buys-img {
  width: 40px;
  height: auto;
  display: block;
}

footer {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#third-section {
  background-color: #303030;
}

.comic-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}
